<div class="register-container">
    <h2>Register User</h2>
    <form >
      <div class="UserName">
        <input id="name" formControlName="name" placeholder="Name" type="text" required />
        <input id="lastname" formControlName="lastname" placeholder="Last Name" type="text" required />
      </div>
      <div>
        <input id="Email" formControlName="lastname" placeholder="Email" type="text" required />
      </div>
      <div>
        <input id="password" formControlName="Password" placeholder="Password" type="Password" required />
      </div>
      <div>
        <input id="password" formControlName="Confirmpassword" placeholder="Confirm Password" type="password" required />
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
      <a routerLink="/login">Back</a>
    </form>
  </div>
  